@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
  font-family: blue-vinyl;
  src: url(Demo_Fonts/Fontspring-DEMO-blue_vinyl_bold_ps_ot.otf);
  src: url(Demo_Fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf);
}

[data-theme ="light"]{
  --color-bg : #ffffff;
  --color-svg : #000000;


  --color-text : hsl(0, 0%, 15%);
  --color-text-secondary : hsl(0, 0%, 50%);

  --color-story-border: hsl(0, 0%, 78%);
  --color-img-border: hsla(0, 0%, 0%, 0.1);
}

[data-theme ="dark"]{
  --color-bg : #000;
  --color-svg : #fff;

  --color-text : hsl(0, 0%, 98%);
  --color-text-secondary : hsl(0, 0%, 70%);

  --color-story-border: hsl(0, 0%, 44%);
  --color-img-border: hsla(0, 0%, 100%, 0.1);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}  
svg {
  display: block;
}
img {
    max-width: 100%;
}

.mobile-container{
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
  border-radius: 10px;
  background-color: var(--color-bg);
}

/* header items  */
header{
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-img-border);
}
.instagram-logo{
    width: 100%;
    margin: 0.6rem 0.8rem;
}
.header-buttons{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items : center;
    margin: 0.6rem 0.8rem;
}
.instagram-logo span{
  font-family: blue-vinyl;
  font-size: 2.3rem;
  background: linear-gradient(to right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
.header-buttons > *{
    margin: 0 0.3rem 0 0.5rem;
}

/* footer section  */
.footer{
  max-width: 500px;
}
.navigation-bar{
  padding: 10px 0;
  width: 100%; 
  position: absolute;
  bottom: 0;
  left: 0;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-button{
  height: 24px;
  width: 24px;
  border: 2px solid var(--color-img-border);
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.profile-button button{
  border: none;
}

/* main content */
main{
    max-width: 500px ;
    margin-top: 65px;  
    margin-bottom: 55px;
    display: flex;
}  
.content {
    width: 100%;
    height: calc(100vh - 65px - 55px );
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.content::-webkit-scrollbar{
    display: none;
}

/* Story functionality */
.stories-content {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 12px 16px;
  position: relative;
  scrollbar-width: none;
  border-bottom: 1px solid var(--color-img-border);
}
.stories-content::-webkit-scrollbar {
  display: none;
  stroke: none;
}
.story {
  background-color: transparent;
  border: none;
  cursor: pointer; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.story-avatar {
  position: relative;
}
.story-border {
  width: 64px;
  height: 64px;
  fill: none;
  stroke: grey;
  stroke-width: 0.6;
}
.story--has-story .story-border {
  stroke: url(#--story-gradient);
  stroke-width: 2;
}
.user--add-story .story-border{
  stroke: transparent;
  stroke-width: 0;
}
.user--add-story::after {
  content: '';
  background-image: url('images/plus.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px; 
  height: 20px; 
  position: absolute;
  top: 44px; 
}
.story-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--color-story-border);
}
.story-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story-user {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-secondary);
  text-transform: lowercase;
  max-width: 72px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.story--has-story .story-user {
  color: var(--color-text);
}

/* posts */
.post{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-img-border);
}

/* post-header */
.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.post-profile{
  display: flex;
  gap: 10px;
  margin: 0 10px;
  align-items: center;
}
.profile-image{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid var(--color-img-border);
  overflow: hidden;
}
.username a{
  text-decoration: none;
  color: var(--color-text);
}
.post-more-options{
  border: none;
  background-color: transparent;
}

/* post-content */
.post-content{
  position: relative;
}
.post-medias{
  overflow-x: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition: all 0.5s;
}
.post-medias::-webkit-scrollbar{
  display: none
}
.post-media{
  scroll-snap-align: start;
  min-width: 500px;
  overflow: hidden;
}
.post-image{
  max-height: calc(100vh - 120px);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-video{
  max-height: calc(100vh - 120px);
  width: 100%;
  height : 100%;
  object-fit: cover;
}
.post-content button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
.post__right-button{
  display: unset;
  right: 0;
}
.post__left-button{
  display: unset;
  left: 0;
}

/* post-footer */
.post-buttons{
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  position: relative;
}
.right-post-buttons{
  display: flex;
  gap: 10px;
}
.post__button{
  border: none;
  background-color: transparent;
}
.post-indicators{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: flex;
  gap: 4px;
}
.post-indicator{
  height: 6px;
  width: 6px;
  background-color: grey;
  border-radius: 50%;
}
.post-indicator.active{
  background-color: hsl(204, 100%, 48%);
}

/* post-information */
.post-information{
  padding: 0 16px 10px;
}
.post-caption{
  display: flex;
  align-items: center;
  gap: 10px;

}
.post-caption .user-name{
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text);
}
.post-caption .caption{
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color-text);
}
.post-time{
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  padding: 5px 0;
}

  

